body {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
.sitename{
	font-family: Verdana, Tahoma, Arial;
	color: #13548D;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}
.siteSlogan{
	font-family: Verdana, Tahoma, Arial;
	color: #13548D;
	font-weight: normal;
	font-size: 12px;
	text-decoration: none;
	padding-top: 5px;
}

.sitenamePrint{
	font-family: Verdana, Tahoma, Arial;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

.borderAll {
	border: 1px solid #004B97;
}
.topMenu {
	font-family: Tahoma, arial, Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
}
a.topMenu:hover {
	font-family: Tahoma, arial, Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
	text-transform: uppercase;
}
.currentDay {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.footer {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.footerMenu {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
a.footerMenu:hover {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: underline;
}
.soso {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #0066CC;
	text-decoration: none;
}
.leftTitleblock {
	font-family: Tahoma, arial, Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
}
.leftTitleblock2 {
	font-family: Tahoma, arial, Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
}
a.leftTitleblock2:hover {
	font-family: Tahoma, arial, Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #FFCC00;
	text-decoration: none;
	text-transform: uppercase;
}
.rightTitleblock {
	font-family: Tahoma, arial, Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
}
.mainText {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.leftMenu {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a.leftMenu:hover {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FFCC00;
	text-decoration: none;
}
.backG {
	background-repeat: no-repeat;
	background-position: top;
}

.backGX {
	background-repeat: repeat-x;
	background-position: center top;
}
.backGXM {
	background-repeat: repeat-x;
	background-position: center center;
}
.borderLR {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #4C9EF2;
	border-left-color: #4C9EF2;
}
.titleRBlock {
	font-family: Tahoma, arial, Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #D50000;
	text-decoration: none;
	text-transform: uppercase;
}
a.titleRBlock:hover {
	font-family: Tahoma, arial, Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #0069D2;
	text-decoration: none;
	text-transform: uppercase;
}
.calendar {
	font-family: Tahoma, arial, Verdana;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
a.calendar:hover {
	font-family: Tahoma, arial, Verdana;
	font-size: 10px;
	font-weight: normal;
	color: #D50000;
	text-decoration: none;
}
a {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
a:hover {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}
.NPMonth {
	font-family: Tahoma, arial, Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #3399FF;
	text-decoration: none;
}
a.NPMonth:hover {
	font-family: Tahoma, arial, Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.borderLR2 {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #0077AF;
	border-left-color: #0077AF;
}
.borderLRT {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #0077AF;
	border-left-color: #0077AF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #0077AF;

}
.newsDate {
	font-family: Tahoma, arial, Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #0069D2;
	text-decoration: none;
}
a.newsDate:hover {
	font-family: Tahoma, arial, Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #0069D2;
	text-decoration: underline;
}
.advanceSearch {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #0069D2;
	text-decoration: none;
}
a.advanceSearch:hover {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #0069D2;
	text-decoration: underline;
}
.more {
	font-family: Tahoma, arial, Verdana;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
a.more:hover {
	font-family: Tahoma, arial, Verdana;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.myForm {
	font-family: Tahoma, arial, Verdana;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	background-color: #f2f2f2;
	border: 1px solid #3366CC;
}
.mySubmit {
	font-family: Tahoma, arial, Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #584D38;
	background-color: #C1CCD1;
	border: 1px solid #3366CC;
}
.headLine {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #CC0000;
	text-decoration: none;
}
a.headLine:hover {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.btitle {
	font-family: Tahoma, arial, Verdana;
	font-size: 14px;
	font-weight: bold;
	color: #CC0000;
	text-decoration: none;
}

a.btitle:hover {
	font-family: Tahoma, arial, Verdana;
	font-size: 14px;
	font-weight: bold;
	color: #0066CC;
	text-decoration: none;
}
.otherNews {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #0066CC;
	text-decoration: none;
}
a.otherNews:hover {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #0066CC;
	text-decoration: underline;
}
.ntitle {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #0066CC;
	text-decoration: none;
}
a.ntitle:hover {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #0066CC;
	text-decoration: underline;
}
.archive {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #346767;
	text-decoration: none;
}
.titleBlockNewsM {
	font-family: Tahoma, arial, Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #CC0000;
	text-decoration: none;
	text-transform: uppercase;
}
a.titleBlockNewsM:hover {
	font-family: Tahoma, arial, Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #0066CC;
	text-decoration: none;
	text-transform: uppercase;
}
.titleBlockNewsW {
	font-family: Tahoma, arial, Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
}
a.titleBlockNewsW:hover {
	font-family: Tahoma, arial, Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #FFCC00;
	text-decoration: none;
	text-transform: uppercase;
}
.catnav {
	font-family: Tahoma, arial, Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #CC0000;
	text-decoration: none;
	text-transform: uppercase;
}
a.catnav:hover {
	font-family: Tahoma, arial, Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #FFCC00;
	text-decoration: none;
	text-transform: uppercase;
}
.mtitle {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #3366CC;
	text-decoration: none;
}
a.mtitle:hover {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #3366CC;
	text-decoration: underline;
}
.hottitle2 {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
a.hottitle2:hover {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
.archiveCat {
	font-family: Tahoma, arial, Verdana;
	font-size: 13px;
	font-weight: normal;
	color: #000099;
	text-decoration: none;
}
a.archiveCat:hover {
	font-family: Tahoma, arial, Verdana;
	font-size: 13px;
	font-weight: normal;
	color: #3366CC;
	text-decoration: underline;
}
.archiveArticle {
	font-family: Tahoma, arial, Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #000099;
	text-decoration: none;
}
a.archiveArticle:hover {
	font-family: Tahoma, arial, Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #3366CC;
	text-decoration: underline;
}

.date {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-style: italic;
	font-weight: normal;
	color: #999999;
	text-decoration: none;
}
.leftMenuActive {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FFCC00;
	text-decoration: none;
}
a.leftMenuActive:hover {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}.leftsubMenu {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

.haveEvent{
	font-size: 10px;
	color: #FF0000;
	text-decoration: underline;
	font-weight: bold;
}
a.haveEvent:hover{
	font-size: 10px;
	color: #003399;
	text-decoration: none;
	font-weight: bold;
}
.haveEvent2{
	font-size: 11px;
	color: #FF0000;
	text-decoration: underline;
	font-weight: bold;
}
a.haveEvent2:hover{
	font-size: 11px;
	color: #003399;
	text-decoration: none;
	font-weight: bold;
}

.pageNav {
	font-family: Tahoma, arial, Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
a.pageNav:hover {
	font-family: Tahoma, arial, Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #006600;
	text-decoration: none;
}
.pageItem {
	font-family: Tahoma, arial, Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #000099;
	text-decoration: none;
}
a.pageItem:hover {
	font-family: Tahoma, arial, Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
}
.tdmenu {
	BACKGROUND-COLOR: #B4D8ED;
	COLOR: #FF0000;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
}
.tdtext1 {
	BACKGROUND-COLOR: #E1EBF1; COLOR: #000000; FONT-SIZE: 12px;
}
.tdtext2 {
	BACKGROUND-COLOR: #EAF3F5; COLOR: #000000; FONT-SIZE: 12px;
}
.errorMsg {
	font-family: Tahoma, arial, Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #ff0000;
	text-decoration: none;
}
.highlight{
	background-color: #ffff00;
}
.pageBox {
	padding-left: 3px;
	padding-right: 3px;
	background-color: #ffffff; 
	border: #c0c0c0 solid 1px;
	font-size: 12px;
}
.pageBoxB {
	padding-left: 3px;
	padding-right: 3px;
	background-color: #80ffff; 
	border: #c0c0c0 solid 1px;
	font-size: 12px;
	font-weight: bold;
}
