// Bases
// --------------------------

*{
	@include p-box-sizing(border-box);
	@include p-user-select(none);
	@include p-box-shadow(none);
	text-shadow:none;
	outline:none;
}
html, body{
	font-family: $font;
	font-size: $font-default;
	color: $color-default;
	margin: $zero;
	padding: $zero;
	min-height:100%;
}

::-moz-selection{ 
	background: $bg-default;
	color: $color-white;
	text-shadow:none;
}
::selection { 
	@extend ::-moz-selection;
}
input{
	@include p-transition(all .2s ease-out);
	text-decoration: none;
}
p{
	margin: $zero;
	padding: $pb15;
}
i{
	display:inline-block;	
}
h1, h2, h3, h4, h5, h6{
	margin: $zero;
	padding: $pb15;
}
img{
	max-width:100%;
	height:auto;
}
a{
	text-decoration: none;
	@include p-transition(all .2s ease-out);
	color:$alink;
	&:visited{
		color:$avisited;
		text-decoration: none;
	}
	&:hover{
		color:$ahover;
		text-decoration: none;
	}
	&:active{
		color:$aactive;	
		text-decoration: none;
	}
	&:focus{
		text-decoration: none;
	}
	img{
		border: none;
	}
}
.uln{
	ul{
		list-style:none;
		margin: $zero;
		padding: $zero;
	}
}
.split{
	display:inline-block;
	padding:0 5px;
}
.fixed{
	position:fixed	
}
.pd15{
	padding:0 15px;	
}
.pdall15{
	padding:15px;	
}
.note-fr{
	font-size:$font12;
	color:$color-a7;	
}
.mb10{
	margin-bottom:10px;	
}
.txtT{
	text-transform:uppercase	
}
.datetime{
	color:$color-a7!important;	
}

form{
	margin: $zero;
	padding: $zero;
}
textarea{
	resize: initial;
}
input[type=checkbox], input[type=radio]{
	margin-top:2px;
}
button{
	&:focus{
		outline:none;	
	}
}
article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display:block;
}
.clb{
	clear:both;
}
.ovh{
	overflow:hidden;	
}
.fr{
	input[type="text"], input[type="password"], input[type="email"], input[type="number"],
	select, textarea, .ipt{
		border: 1px solid $color-border;
		background: $color-white;
		color: $color-input;
		font-size: $font-default;
		padding:5px 10px; 
		overflow:hidden; 
		vertical-align:middle;
		height:inherit; 
		line-height:inherit;
		@include p-border-radius(3px);
		&:disabled{
			background:$bg-disable;
		}
		&:focus{
			outline:none;
			border-color:$color-blue;	
		}
	}
	textarea{
		overflow:visible
	}
	select{
		white-space: nowrap
	}
	input[type="file"]{
		display:inline-block	
	}
}
header.main{
	background:$color-white;
	color:$color-white;
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:999;
	height:42px;
	line-height:42px;
	text-align:center;
	&.blue{
		background:$color-blue;	
	}
	.name{
		font-size:$font14;
		display:inline-block;
		line-height:16px;
		padding-top:5px;
		small{
			font-size:$font11;
			color:#b0e5f7;	
		}	
	}
	.header-icon{
		width:44px;
		text-align:center;
		height:42px;
		float:left;
		position:relative;
		&.search_mobile{
			float:right;
		}
		i{
			color:$color-white;
			font-weight:700;
			font-size:22px;
			display:block;
		}
		& + .header-icon{
			margin-right:1px;
		}
		span{
			background:$color-red;
			position:absolute;
			top:3px;
			line-height:18px;
			font-size:$font12;
			color:$color-white;
			width:18px;
			right:2px;
			@include p-border-radius(100%);
		}
	}
	.iconShareContent{
		padding-top:6px;	
	}
	.header-text{
		padding:0 15px;
		color:$color-white;	
	}
	.active{
		background:#0195cc
	}
}
footer.main{
	background:$color-white;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index:999;
	height:44px;
	&.blue{
		background:$color-blue;	
	}	
	&.border{
		border-top:1px solid $color-border;	
	}
	&> .navmain{
		& > li{
			float:left;
			width:20%;
			text-align:center;
			font-size:$font11;
			line-height:12px;
			position:relative;
			& > a{
				display:block;
				color:$color-a7;
				i{
					display:block;
					margin:7px auto 0;
					height:20px;
					font-size:18px;
					&.fa-sliders{
						margin-top:4px;	
					}
				}
				&:hover, &.active{
					color:$color-blue;	
				}	
			}	
		}
		&.nav-3{
			& > li{
				width:33.33%;	
			}	
		}
		&.nav-2{
			& > li{
				width:50%;	
			}	
		}
		&.nav-4{
			& > li{
				width:25%;	
			}	
		}
		&.nav-1{
			& > li{
				width:100%;	
			}	
		}
		&.blue{
			& > li{
				& > a{
					color:$color-blue;	
				}
			}	
		}
		&.button{
			background:#e8e8e8;
			li{
				a{
					margin:3px;
					color:$color-white;
					i{
						height:auto;
						margin:0;
						display:inline-block;
						vertical-align:middle;	
					}	
				}	
			}	
		}
		&.nav-text{
			& > li{
				& > a{
					line-height:44px;
					font-size:$font14;
				}
			}	
		}
	}
}
nav.main{
	position:fixed;	
	left:-270px;
	top:0;
	bottom:0;
	width:270px;
	z-index:9991;
	background:#222;
	color:$color-white;
	max-height:100%;
	overflow-y:auto;
	a{
		color:$color-white;
		display:block;
	}
	ul{
		li{
			border-bottom: 1px solid $color-default;
			font-weight: normal;
			margin: 0;
			a{
				padding:12px;
				&.login{
					padding-top:0;
					padding-bottom:0;	
				}
				i{
					width:20px;
					&.gray{
						color:$color-gray;	
					}
				}
				p{
					padding:5px 0;
					&.blue{
						color:$color-blue;
						font-size:$font12;
						text-transform:uppercase;
						padding-top:0;	
					}	
				}
			}
			&.logo{
				height:42px;
				padding:9px 0 0 12px;	
				a{
					padding:0;	
				}
				img{
					height:20px;
					width:auto;	
				}
			}
		}	
	}
	h5{
		background:$color-default;
		color:$color-white;
		font-size:$font12;
		text-transform:uppercase;
		padding:8px 12px;	
	}
	div{
		min-height:100px;	
	}
}
.bottom{
	padding-bottom:30px;	
	font-size:$font12;
	line-height:16px;
	margin:5px 0;
	color:#222;
	p{
		a{
			color:#222;
		}
		padding:3px 24px;	
		text-align:center;
		&.mtm{
			margin-top:12px;	
		}
	}
	.app{
		margin-bottom:20px;
		h5{
			background:$color-blue;
			color:$color-white;
			padding:3px 12px;
		}	
		ul{
			li{
				border-bottom:1px solid $color-border;
				a{
					display:block;
					padding:20px 12px;
					i{
						color:$color-gray;
						font-size:18px;	
						vertical-align:middle;
					}
				}	
			}	
		}
	}
}
.overlay{
	cursor:pointer;
	display:none;
	position:fixed;	
	left:0;
	top:0;
	bottom:0;
	right:0;
	z-index:9990;
	background:rgba(0, 0, 0, 0);
}
.iconRelandLogo{
	background:url(../img/logo.png) no-repeat;
	background-size:cover;
	height:20px;
	width:108px;
	display:inline-block;
}
.hfixed{
	&.header{
		padding-top:42px;	
	}
	&.footer{
		padding-bottom:44px;	
	}
	&.both{
		padding:42px 0 44px;
		.bottom{
			padding-bottom:60px;	
		}
	}
	.wapper{
		min-height:100%;
		&.page-bg{
			background:#f6f6f6;	
		}
	}
}
.bodyNavShow{
	overflow:hidden;
	position:relative;
	header.main, footer.main{
		left:270px	
	}
}
.bodySearchShow{
	overflow:hidden;
	position:relative;
}
.search{
	background:$color-white;
	position:fixed;
	right:-3000px;
	width:100%;
	bottom:0;
	top:42px;
	overflow-y:auto;
	z-index:9990;
}
.bgOpa{
	@include p-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}
.heart{
	width:22px;
	height:22px;
	i{
		background:url(../img/icon-heart-fallback-inactive.png) no-repeat center center	;
		display:block;
		height:100%;
		background-size:100%;
		&.active{
			background-image:url(../img/icon-heart-fallback-active.png);
		}
	}	
}
.btn{
	border:none;
	&.btn-primary{
		background:$color-blue;
		&:hover{
			background:#009cd6;	
		}
		&.border{
			background:none;
			border:1px solid $color-blue;
			color:$color-blue;	
		}
	}
	&.btn-warning{
		background:#f0a401;
		&:hover{
			background:#d79300;	
		}
		&.border{
			background:none;
			border:1px solid #f0a401;	
			color:#f0a401;
		}
	}
	&.btn-danger{
		background:$color-red;
		&:hover{
			background:#e70808;	
		}
		&.border{
			background:none;
			border:1px solid #ff0000;
			color:#ff0000;
		}
	}	
}


div.drum-wrapper {
	position: relative;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
	height: 130px;
	width:35%;
	display:inline-block;
	margin:0 auto;
	vertical-align:middle;
	.inner {
		position: relative;
		overflow: hidden;
		height: 100%;
	}
	div.container {
		position: absolute;
		width: 100%;
		height: 30px;
		line-height: 30px;
		top: 44px;
		left: 0px;
		padding:0;
		-webkit-perspective: 1100px;
		-moz-perspective: 1100px;
		-o-perspective: 1100px;
		perspective: 1100px;
	}
	figure {
		height: 30px;
		line-height: 30px;
	}
	.dial {
		position: absolute;
		width: 100%;
		left: 0px;
		height: 48px;
		background-color: rgba(255, 255, 255, 0.7);
		display: none;
		div {
			width: 20px;
			height: 10px;
			margin: 0 auto;
		}
		svg {
			position: absolute;
		}
	}
	.up {
		top: 0px;
		svg {
			top: 2px
		}
	}
	.down {
		bottom: 0px;
		svg {
			bottom: 2px;
		}
	}
}

.outside{
	div.drum-wrapper {
		height: 140px;
		.inner {
			top: 12px;
		}
		.container {
			top: 46px;
		}
		.dial {
			height: 58px;
		}
	}
} 

div.drum {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	figure {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;  
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;
		display: block;
		position: absolute;
		left: 0px;
		top: 0px;
		line-height: 26px;
		color: black;
		margin: 0px;
		padding: 0px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		width: 100%;
		text-align:center;
	}
}

.title{
	background:#f8f8f8;
	color:#666;
	padding:10px 15px 9px;
	font-size:$font12;
	text-transform:uppercase;
	&.border{
		border-bottom:1px solid $color-border;	
		border-top:1px solid $color-border;		
	}
	&.border-bottom{
		border-bottom:1px solid $color-border;	
	}
	&.border-top{
		border-top:1px solid $color-border;		
	}
	span{
		text-transform:none;
	}
}
.collapse-box{
	border-bottom:1px solid #efeff0;	
	margin:0 0 0 20px;
	&.collapse-none{
		background:#f8f8f8;
		margin-bottom:-1px;
	}
	&.border-top{
		border-top:1px solid #efeff0;		
	}
	&.border-none{
		border-bottom:none;	
	}
	&.btn-box{
		margin:0;
	}
	&.border-full{
		margin:0;
		padding-left:20px;
	}
	.collapse-title{
		@extend .clb;
		@extend .ovh;
		color:$color-default;
		font-size:$font14;
		font-weight:600;
		display:block;
		padding:10px 15px 10px 0;
		border:none;
		background:none;
		position:relative;
		&.blue{
			color:$color-blue;
			padding-top:11px;
			padding-bottom:11px;
		}
		&.red{
			color:$color-red;	
			padding-top:11px;
			padding-bottom:11px;
		}
		span{
			color:#aaa;
			font-weight:normal;
			float:right;
			font-size:$font-default;
			i{
				margin-left:2px;	
			}
			label{
				font-weight:normal;
				margin:0;
				font-size:$font14;
			}
		}
		&.paytitle{
			padding-top:6px;
			padding-bottom:6px;
			font-size:$font-default;
			font-weight:normal;
			span{
				margin-top:3px;	
			}	
		}
		&.red{
			color:#e32c64	
		}
		&.yellow{
			color:#ffa800	
		}
		&.blue{
			color:#0d87cd	
		}
		input{
			background:$color-white;
			border:1px solid $color-border;
			width:40px;
			height:30px;
			margin:10px 0;
			text-align:center;
			@include p-border-radius(3px);	
		}
		small{
			font-size:$font12;
			color:$color-a7;
			position:absolute;
			left:0;
			bottom:0;	
		}
		/*.iconDownOpen{
			&:before{
				content:'\e871';	
			}
		}
		&.collapsed{
			.iconDownOpen{
					&:before{
						content:'\e835';	
					}
			}
		}*/
	}
	&.collapse-cus{
		.collapse-title{
			padding-bottom:9px;
		}	
	}
	.btn-group{
		margin-bottom:14px;	
	}
	&.btn-box{
		.collapse-title{
			font-size:$font-default;
			font-weight:normal;	
			text-align:center;
			width:100%;
		}
	}
	&.collapse-none{
		margin-left:0;
		.collapse-title{
			padding-left:15px;
			.p-icon{
				margin-right:10px;	
			}	
		}
	}
}

.group-cus{
	.btn-group{
		@extend .ovh;
		margin-right:15px;
		display:block;
		border:1px solid $color-blue;
		@include p-border-radius(3px);
		.btn{
			width:16.66%;
			margin:0;
			padding:0;
			font-size:$font14;
			text-align:center;
			line-height:25px;
			color:$color-blue;
			@include p-border-radius(0);
			&+.btn{
				border-left:1px solid $color-blue;	
			}
			input[type="text"]{
				width:100%;
				background:none;
				border:none;
				text-align:center;
				height:25px;
				&:focus{
					outline:none
				}
				&::-webkit-input-placeholder {
				  color:$color-blue;
				}
				&::-moz-placeholder {
				  color:$color-blue;
				}
				&:-ms-input-placeholder {
				  color:$color-blue;
				}
				&:-moz-placeholder {
				  color:$color-blue;
				}
			}
			input[type="radio"], input[type="checkbox"]{
				width:0;
				height:0;
				border:none;
				background:none;
			}
			&.active{
				background:$color-blue;
				color:$color-white;
				@include p-box-shadow(none);
				input[type="text"]{
					&::-webkit-input-placeholder {
					  color:$color-white;
					}
					&::-moz-placeholder {
					  color:$color-white;
					}
					&:-ms-input-placeholder {
					  color:$color-white;
					}
					&:-moz-placeholder {
					  color:$color-white;
					}
				}
			}
			
		}
	}	
}

.modal{
	z-index:99999;
	.modal-header{
		padding:10px;
		h4{
			padding:0;
			text-align:center;
			font-size:17px;	
			font-weight:bold;
			color:$color-default;
		}
		.close{
			margin:0;	
			opacity:1;
			color:$color-blue;
			float:left;
			font-size:23px;
		}
		&.blue{
			background:$color-blue;
			h4, .close, a{
				color:$color-white;	
			}
		}
		&.border-none{
			border:none;
			padding-bottom:0;
		}
		.modal-header-txt{
			padding:0 10px;	
		}
	}
	&.modal-choose{
		.modal-dialog{
			margin:0;
			height:100%;	
		}
		.modal-content{
			border:none;
			height:100%;
			@include p-border-radius(0);
			@include p-box-shadow(none);
		}
		.modal-body{
			padding:0 0 0 25px;
			overflow-y:auto;
		}
	}
	&.modal-none{
		.modal-body{
			padding:0;
			overflow-y:auto;	
		}
	}
	.modal-ipt{
		border:	none;
		border-top:1px solid $color-border;
		border-bottom:1px solid $color-border;
		padding:8px 15px;
		width:100%;
		background:$color-white;
		&:focus{
			outline:none;	
		}
	}
	&.modal-bg{
		.modal-body{
			background:#f8f8f8;
		}
	}
	&.in{
		display:block	
	}
}

.popovers{
	background:$color-white;
	@include p-border-radius(3px);
	position:absolute;
	z-index:999;
	min-width:200px;
	text-align:left;
	display:none;
	@include p-box-shadow(0 0 5px 0 rgba(0,0,0,.15));
	&.top{
		bottom:115%;
		left:10px;
		&:before{
			content:"";
			position:absolute;
			left:46px;
			bottom:-10px;
			width: 0;
			height: 0;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-top: 10px solid rgba(0, 0, 0, .1);
		}
		&:after{
			content:"";
			position:absolute;
			left:47px;
			bottom:-9px;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid $color-white;	
		}
	}
}
.rating {
	unicode-bidi: bidi-override;direction: rtl;	font-size: $font-default;
	.star{
		font-family: FontAwesome;
		font-weight: 400; 
		font-style: normal; 
		display: inline-block; 
		font-size:$font-default;
		vertical-align:middle;
		&:before {
			content: "\f005";
			padding-right: 1px;  
			color: $color-yellow;
		}
		&.star-o{
			&:before{content:"\f006"}
		}
		&.star-half-o{
			&:before{content:"\f123"}	
		}
		&:hover, &.active {
			cursor: pointer;
			&:before{
				color: $color-yellow;	
			}
			& ~ .star{
				before{
					color: $color-yellow;	
				}	
			}
		}
	}
}

.txtGray{
	color:$color-a7;	
}
.txtBlack{
	color:$color-default;	
}

.chart {
  width: 125px;
  height: 125px;
  margin:0 auto;
}
.doughnutTip {
  position: fixed;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 15px;
  border-radius: 1px;
  background: rgba(0,0,0,.8);
  color: #ddd;
  font-size: 12px;
  text-align: center;
  line-height: 1.3;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  pointer-events: none;
  z-index:999999;
  &::after {
      position: absolute;
      left: 50%;
      bottom: -6px;
      content: "";
      height: 0;
      margin: 0 0 0 -6px;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      border-top: 6px solid rgba(0,0,0,.7);
      line-height: 0;
  }
}
.doughnutSummary {
	position: absolute;
	top: 50%;
	left: 50%;
	color:$font-default;
	font-size:$font12;
	text-align: center;
	cursor: default;
}
.doughnutSummaryTitle {
	position: absolute;
	top: 50%;
	width: 100%;
	color:$color-a7;
	padding:0;
	line-height:16px;
	margin-top:-10%;
}
.doughnutSummaryNumber {
	position: absolute;
	top: 50%;
	width: 100%;
	font-weight:bold;
	padding:0;
	margin-top:-45%;
	font-size:$font14;
}
.chart path:hover { opacity: 0.65; }

.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active,a.ui-button:active,.ui-button:active,.ui-button.ui-state-active:hover{border:none;background:none;font-weight:normal;color:inherit}

.toggle{
	display:inline-block;
	width:60px;	
	height:34px;
}
.toggle-slide {
	@extend .ovh;
	cursor: pointer;
	direction: ltr;
	.toggle-on{
		float: left;
		background:$color-blue;
		
	}
	.toggle-off{
		float: left;
		background:$color-white;
	}
	.toggle-select{
		.toggle-inner{
			.active{
				@extend .toggle-on;
			}
		}
		.toggle-on{
			@extend .toggle-off;
		}
	}
	.toggle-blob{
		float: left;
		position: relative;
		z-index: 99;
		cursor: hand;
		cursor: grab;
		width:32px;
		height:32px;
		background:$color-white;
		border:2px solid $color-border;
		@include p-border-radius(100%);
		&:hover{
			color:$color-a7;
		}
	}
	.toggle-inner{
		height:34px;
		border:2px solid $color-d7;
		background:$color-white;
		@include p-border-radius(20px);
		@extend .ovh;
		.toggle-blob{
			margin:-1px 0 0 -1px;	
		}
		&.onactive{
			border-color:$color-blue;
			background:$color-blue;
			.toggle-blob{
				width:30px;
				height:30px;
				margin:0 0 0 25px;
				border-color:$color-white;
			}
		}
	}
}
div.disabled > .toggle-slide {
  opacity: 0.7;
  pointer-events: none;
}

.modal{
	&.fade{
		.modal-dialog {
		  -webkit-transform: translate(0, -25%);
		  -ms-transform: translate(0, -25%);
		  transform: translate(0, -25%);
		  -webkit-transition: -webkit-transform 0.1s ease-out;
		  -moz-transition: -moz-transform 0.1s ease-out;
		  -o-transition: -o-transform 0.1s ease-out;
		  transition: transform 0.1s ease-out;
		}
		&:not(.in){
			.modal-dialog{
				-webkit-transform: translate3d(25%, 0, 0);
				transform: translate3d(25%, 0, 0);
			}
		}
	}
	&.in{
		.modal-dialog{
			-webkit-transform: translate(0, 0);
			  -ms-transform: translate(0, 0);
			  transform: translate(0, 0);
		}
	}
}
