// responsive
// --------------------------
@media (max-width:375px){
	.post{
		.postimg{
			ul{
				li{
					width:78px;
					height:78px;
					input[type="file"] {
						& + label{
							height:78px;
							line-height:78px;
						}
					}
				}
			}
		}
	}
	.pack-box{
		.collapse-title{
			width:115px;
		}
		.btn-group{
			width:56%;
		}
	}
}

@media (max-width:320px){
	.post{
		.postimg{
			ul{
				li{
					width:65px;
					height:65px;
					input[type="file"] {
						& + label{
							height:65px;
							line-height:65px;
						}
					}
				}
			}
		}
	}
	.pack-box{
		.collapse-title{
			width:110px;
		}
		.btn-group{
			width:50%;
		}
	}
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url('../img/fancybox_sprite@2x.png');
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url('../img/fancybox_loading@2x.gif');
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}









