// Variables
// --------------------------
$color-white:  		#fff !default;
$color-ccc:    		#ccc !default;
$color-input:  		#000 !default;
$color-border:		#e4e4e4 !default; 
$color-default:  	#000 !default;
$color-blue:  		#00a8e6 !default;
$color-red:  		#e50e27 !default;
$color-btnred:  	#fa4916 !default;
$color-gray:  		#999 !default;
$color-yellow:  	#ffc600 !default;
$color-a7:  		#a7a7a7 !default;
$color-d7:  		#d7d7d7 !default;
$bg-default:		#fff !default;
$bg-disable:		#eee !default;
$font11:		    11px !default;
$font12:		    12px !default;
$font13:		    13px !default;
$font14:		    14px !default;
$font-default:		16px !default;
$font:				'Open Sans', Helvetica, Arial, sans-serif!default;
$zero:				0 !default;
$pb15:				0 0 15px !default;
$alink:				#00a8e6 !default;
$avisited:			#000 !default;
$ahover:			#000 !default;
$aactive:			#000 !default;